Q1:-

In [2]:
import pandas as pd

# create a series
my_series = pd.Series([4, 8, 15, 16, 23, 42])

# print the series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2:-

Here's how you can create a list variable with 10 elements, apply the pandas.Series function on it, and print the resulting series:

In [3]:
import pandas as pd

# create a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# create a series from the list
my_series = pd.Series(my_list)

# print the series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3:-

In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

This Python code creates a Pandas DataFrame with three columns named "Name", "Age", and "Gender". The DataFrame consists of three rows of data containing the names, ages, and genders of three individuals named Alice, Bob, and Claire.

Here's a breakdown of the code:

import pandas as pd


This line imports the Pandas library and assigns it the name "pd".

data = {

    'Name': ['Alice', 'Bob', 'Claire'],

    'Age': [25, 30, 27],

    'Gender': ['Female', 'Male', 'Female']

}


This creates a Python dictionary named "data" with three keys ('Name', 'Age', and 'Gender') and their corresponding values. The values for each key are given as a list of strings for the 'Name' and 'Gender' columns, and a list of integers for the 'Age' column.

df = pd.DataFrame(data)

This line creates a Pandas DataFrame named "df" using the data dictionary. Pandas DataFrame is a two-dimensional table with labeled axes (rows and columns), and this table is created from the dictionary with each key as a column and its corresponding values as column entries.

print(df)

This line prints the entire DataFrame created above.

Q4:-

A DataFrame in Pandas is a 2-dimensional labeled data structure with columns of potentially different types, similar to a table in a relational database or a spreadsheet. It can be thought of as a collection of Pandas Series objects, where each Series represents a column of data.

The main differences between a DataFrame and a Series are:

A Series is a 1-dimensional labeled array that can hold any data type, while a DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types.
A DataFrame can be thought of as a collection of Series objects, where each Series represents a column of data, while a Series represents a single column of data.
Here's an example to demonstrate the difference:

In [4]:
import pandas as pd

# create a Series object
my_series = pd.Series([1, 2, 3, 4])

# create a DataFrame from a dictionary of Series objects
my_dict = {'A': my_series, 'B': my_series*2}
my_dataframe = pd.DataFrame(my_dict)

# print the Series and DataFrame
print(my_series)
print(my_dataframe)

0    1
1    2
2    3
3    4
dtype: int64
   A  B
0  1  2
1  2  4
2  3  6
3  4  8

In this example, we first create a Pandas Series object called my_series that contains the values [1, 2, 3, 4]. We then create a dictionary my_dict that contains two keys ('A' and 'B'), each of which corresponds to a Pandas Series object. We use these Series objects to create a Pandas DataFrame object my_dataframe. Note that my_dataframe has two columns ('A' and 'B'), each of which corresponds to a Series object.

Q5:-

 Some common functions to manipulate data in a Pandas DataFrame include:

head() and tail(): to view the first or last few rows of the DataFrame

describe(): to view summary statistics of the DataFrame

dropna(): to remove rows or columns with missing data

groupby(): to group the DataFrame by one or more columns and apply a function to each group

sort_values(): to sort the DataFrame by one or more columns

pivot(): to reshape the DataFrame from long to wide format based on the values of one or more columns

Here's an example of using the groupby() function to group a DataFrame by one column and apply a function to each group:

In [5]:
import pandas as pd

# create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Charlie'],
        'Age': [25, 30, 35, 40, 45],
        'Salary': [50000, 60000, 70000, 80000, 90000]}
df = pd.DataFrame(data)

# group the DataFrame by 'Name' and calculate the average salary for each group
average_salary = df.groupby('Name')['Salary'].mean()

# print the result
print(average_salary)

Name
Alice      65000.0
Bob        60000.0
Charlie    80000.0
Name: Salary, dtype: float64

In this example, we create a DataFrame with three columns ('Name', 'Age', and 'Salary') and five rows. We then group the DataFrame by the 'Name' column using the groupby() function and calculate the average salary for each group using the mean() function. The result is a new Series object that contains the average salary for each unique value in the 'Name' column.

Q6:-

 Both Series and DataFrame are mutable in nature, meaning that their values can be modified after they are created. However, a Panel object in Pandas is deprecated and no longer recommended for use.

Q7:-

Here's an example of creating a DataFrame using multiple Series:

In [6]:
import pandas as pd

# create three Series objects
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 35, 40])
salaries = pd.Series([50000, 60000, 70000, 80000])

# create a DataFrame from the Series objects
df = pd.DataFrame({'Name': names, 'Age': ages, 'Salary': salaries})

# print the DataFrame
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000

In this example, we first create three Pandas Series objects called names, ages, and salaries that contain the data for each column of the DataFrame. We then create a dictionary where the keys correspond to the column names, and the values correspond to the Series objects. Finally, we use the pd.DataFrame() function to create a DataFrame from the dictionary.